* {
  background: lightyellow;
}

.doubly-main-container {
  display: flex;
}

.secondary-main-container,
.main-container {
  border: 5px solid green;
  background: lightgreen;
  padding: 12px;
  margin: 12px;
}

.secondary-main-container {
  flex-shrink: 0;
}

.main-container {
  flex: 1 1 0;
}

div {
  flex: 1;
  background: transparent;
}

.beige-item,
.blue-item,
.purple-item,
.salmon-item,
#left-salmon-item {
  display: flex;
  padding: 6px;
  margin: 6px;
}

.beige-item,
.purple-item,
.salmon-item {
  height: 50px;
}

.blue-item {
  border: 5px solid blue;
  background: lightblue;
}

.beige-item {
  border: 5px solid salmon;
  background: beige;
}

.red-item {
  border: 5px solid red;
  background: pink;
}

.purple-item {
  border: 5px solid purple;
  background: lavender;
  flex: 2;
}

#left-salmon-item,
.salmon-item {
  border: 5px solid brown;
  background: lightcoral;
}

.secondary-container {
  display: flex;
}
