* {
  background: lightyellow;
  text-align: center;
}

.flex-container-grow,
.flex-container-shrink,
.flex-container-direction {
  display: flex;
  height: 100px;
}

.flex-container-grow > div,
.flex-container-shrink > div,
.flex-container-direction > div {
  background: peachpuff;
  border: 4px solid brown;
}

.flex-container-grow > div {
  flex: 1; /* Ensures children grow proportionally */
}

/* Grow-specific rules */
.flex-container-grow .two {
  flex: 2; /* Makes .two grow twice as much as others */
}

/* Shrink-specific rules */
.flex-container-shrink {
  width: 100%;
}

.flex-container-shrink > div {
  /* equivalent to flex: auto */
  width: 400px;
  flex: 1 1 auto;
}

.flex-container-shrink .two {
  flex-shrink: 0;
}

.parent {
  width: 50%;
}

.flex-container-direction {
  flex-direction: column;
}

.flex-container-direction > div {
  height: 200px;
  width: 50%;
  flex: 1 1 auto;
}
