* {
  box-sizing: border-box;
}

body {
  background: lightyellow;
}

.title {
  text-align: center;
}

.text-container,
.main-container,
.main-container-col {
  margin: 1em;
}

.supreme-container {
  display: flex;
  flex-direction: column;
  background: darkgreen;
  margin: 1em;
}

.main-container-col {
  flex-direction: column;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-container {
  background: lavender;
  padding: 1em;
}

.main-container,
.main-container-col {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2em; */
}

.main-container > div,
.main-container-col > div {
  background: peachpuff;
  border: 4px solid brown;
  height: 5em;
  width: 20em;
}

/* grow section */

.main-container > .one-grow {
  flex: 1;
  /* flex: 1 1 0; */
}

.main-container > .two-grow {
  flex: 2;
  /* flex: 2 1 0; */
}

.main-container > .three-grow {
  flex: 3;
  /* flex: 3 1 0; */
}

/* shrink section */

.main-container > .one-shrink {
  flex: 1 1 auto;
  flex-shrink: 1;
}

.main-container > .two-shrink {
  flex: 1 1 auto;
  flex-shrink: 0;
}

.main-container > .three-shrink {
  flex: 1 1 auto;
  flex-shrink: 3;
}

/* direction section */

.items {
  flex: 1;
}
